{{- $name := include "helm-base.fullname" . }}
{{- $commonLabels := include "helm-base.commonLabels" . }}
{{- $commonAnnotations := include "helm-base.commonAnnotations" . }}
{{ $currentScope := .}}
{{ range $path, $_ :=  $.Files.Glob  "files/*" }}
    {{- with $currentScope}}
      {{ $path }}: {{ $path }}
    {{- end }}
{{ end }}

{{- $configMapsList := list }}
{{- $chartConfigMaps := default (list) .Values.configMaps }}
{{- $globalConfigMaps := default (list) .Values.global.configMaps }}

{{- if eq (kindOf $chartConfigMaps) "map" }}
  {{- range $configMapName, $c := $chartConfigMaps }}
    {{- $newConfigMap := deepCopy $c }}
    {{- if not (hasKey $newConfigMap "name") }}
      {{- $_ := set $newConfigMap "name" $configMapName }}
    {{- end }}
    {{- $configMapsList = append $configMapsList $newConfigMap }}
  {{- end }}
{{- else }}
  {{- $configMapsList = concat $configMapsList $chartConfigMaps }}
{{- end }}

{{- if eq (kindOf $globalConfigMaps) "map" }}
  {{- range $configMapName, $c := $globalConfigMaps }}
    {{- $newConfigMap := deepCopy $c }}
    {{- if not (hasKey $newConfigMap "name") }}
      {{- $_ := set $newConfigMap "name" $configMapName }}
    {{- end }}
    {{- $configMapsList = append $configMapsList $newConfigMap }}
  {{- end }}
{{- else }}
  {{- $configMapsList = concat $configMapsList $globalConfigMaps }}
{{- end }}

{{- range $c := $configMapsList }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name }}-{{ $c.name }}
  labels:
{{ $commonLabels | indent 4 }}
  annotations:
{{ $commonAnnotations | indent 4 }}

{{- if $c.data }}
data:

{{- if eq (kindOf $c.data) "map" }}
  {{- range $k, $d := $c.data}}
  {{ $value := $d | toString }}
  {{- if gt (len (splitList "\n" $value)) 1 }}
  {{ tpl (tpl $k $) $}}: |-
{{ tpl (tpl $value $) $ | indent 4 }}
  {{- else }}
  {{- tpl (tpl $k $) $ }}: "{{ tpl (tpl $value $) $ }}"
  {{- end }} {{/* end if multiline */}}
  {{- end }} {{/* end range */}}

{{- else if eq (kindOf $c.data) "string" }}
{{ (tpl (tpl $c.data $) $) | indent 4 | toString }}
{{- else }}
  DATATYPE: {{ kindOf $c.data }}
{{- end }} {{/* end if type */}}
{{- end }} {{/* end if c.data */}}


{{- if $c.binaryData }}
binaryData:
{{- toYaml $c.binaryData | nindent 2 }}
{{- end }}

{{- end }} {{/* end range c */}}

