{{- if and .Values.ingress.enabled .Values.services -}}
{{- $root := $ }}
{{- $commonLabels := include "helm-base.commonLabels" . }}
{{- $name := include "helm-base.fullname" . }}
{{- $defaultServiceName := include "helm-base.defaultServiceName" . }}
{{- if not $defaultServiceName }}
  {{- if .Values.services }}
    {{- fail (printf "Services defined but could not determine default service name. Services type: %s, Services value: %v" (kindOf .Values.services) .Values.services) }}
  {{- else }}
    {{- fail "No services found in .Values.services. At least one service must be defined in base.services in values.yaml" }}
  {{- end }}
{{- end }}
{{- $routes := $.Values.ingress.routes }}
{{- if eq (kindOf $routes) "map" }}
{{- range $routeName, $route := $routes }}
{{- $newRoute := deepCopy $route }}
{{- if not (hasKey $newRoute "name") }}
{{- $_ := set $newRoute "name" $routeName }}
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $name }}-{{ tpl $newRoute.name $ }}
  labels:
{{ $commonLabels | indent 4 }}
  annotations:
{{- $ingressAnnotations := dict }}
{{- if $newRoute.annotations }}
{{- $ingressAnnotations = merge $newRoute.annotations $.Values.ingress.annotations }}
{{- else }}
{{- $ingressAnnotations = $.Values.ingress.annotations }}
{{- end }}
  {{- range $key, $value := $ingressAnnotations }}
    {{ $key }}: {{ (tpl $value $) | quote }}
  {{- end }}

spec:
  ingressClassName: {{ default "nginx" $.Values.ingress.class }}
  rules:
    - host: "{{if $newRoute.host }}{{ tpl (tpl $newRoute.host $root) $root }}{{else}}{{ tpl (tpl $root.Values.ingress.host $root) $root }}{{end}}"
      http:
        paths:
          - path: {{ tpl (default "/" $newRoute.path) $ }}
            pathType: {{ default "Prefix" $newRoute.pathType }}
            backend:
              service:
                name: {{if or $newRoute.service $newRoute.serviceFullName}}{{ if $newRoute.serviceFullName }}{{tpl $newRoute.serviceFullName $ }}{{else}}{{printf "%s-%s" $name (tpl $newRoute.service $)}}{{end}}{{else}}{{ $defaultServiceName }}{{end}}
                port: 
                  number: {{ default $.Values.ingress.port $newRoute.port }}
    {{- if or $newRoute.aliases $.Values.ingress.aliases }}
    {{- range $_, $alias := (concat (default list $newRoute.aliases) $.Values.ingress.aliases) }}
    - host: "{{ tpl $alias $ }}"
      http:
        paths:
          - path: {{ tpl (default "/" $newRoute.path) $ }}
            pathType: {{ default "Prefix" $newRoute.pathType }}
            backend:
              service:
                name: {{if or $newRoute.service $newRoute.serviceFullName}}{{ if $newRoute.serviceFullName }}{{tpl $newRoute.serviceFullName $ }}{{else}}{{printf "%s-%s" $name (tpl $newRoute.service $)}}{{end}}{{else}}{{ $defaultServiceName }}{{end}}
                port: 
                  number: {{ default $.Values.ingress.port $newRoute.port }}
    {{- end }}
    {{- end }}
  {{- if $root.Values.ingress.tls }}
  {{- $secretName := coalesce $newRoute.secretName $root.Values.ingress.secretName (printf "%s-tls" $name) }}
  tls:
    - secretName: {{ $secretName }}
      hosts:
        - "{{if $newRoute.host }}{{ tpl (tpl $newRoute.host $root) $root }}{{else}}{{ tpl (tpl $root.Values.ingress.host $root) $root }}{{end}}"
      {{- if or $newRoute.aliases $.Values.ingress.aliases }}
        {{- range $_, $alias := (concat (default list $newRoute.aliases) $.Values.ingress.aliases) }}
        - "{{ tpl $alias $ }}"
        {{- end }}
      {{- end }}
  {{- end }}

{{- end }}
{{- else }}
{{- range $route := $routes }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $name }}-{{ tpl $route.name $ }}
  labels:
{{ $commonLabels | indent 4 }}
  annotations:
{{- $ingressAnnotations := dict }}
{{- if $route.annotations }}
{{- $ingressAnnotations = merge $route.annotations $.Values.ingress.annotations }}
{{- else }}
{{- $ingressAnnotations = $.Values.ingress.annotations }}
{{- end }}
  {{- range $key, $value := $ingressAnnotations }}
    {{ $key }}: {{ (tpl $value $) | quote }}
  {{- end }}

spec:
  ingressClassName: {{ default "nginx" $.Values.ingress.class }}
  rules:
    - host: "{{if $route.host }}{{ tpl (tpl $route.host $root) $root }}{{else}}{{ tpl (tpl $root.Values.ingress.host $root) $root }}{{end}}"
      http:
        paths:
          - path: {{ tpl (default "/" $route.path) $ }}
            pathType: {{ default "Prefix" $route.pathType }}
            backend:
              service:
                name: {{if or $route.service $route.serviceFullName}}{{ if $route.serviceFullName }}{{tpl $route.serviceFullName $ }}{{else}}{{printf "%s-%s" $name (tpl $route.service $)}}{{end}}{{else}}{{ $defaultServiceName }}{{end}}
                port: 
                  number: {{ default $.Values.ingress.port $route.port }}
    {{- if or $route.aliases $.Values.ingress.aliases }}
    {{- range $_, $alias := (concat (default list $route.aliases) $.Values.ingress.aliases) }}
    - host: "{{ tpl $alias $ }}"
      http:
        paths:
          - path: {{ tpl (default "/" $route.path) $ }}
            pathType: {{ default "Prefix" $route.pathType }}
            backend:
              service:
                name: {{if or $route.service $route.serviceFullName}}{{ if $route.serviceFullName }}{{tpl $route.serviceFullName $ }}{{else}}{{printf "%s-%s" $name (tpl $route.service $)}}{{end}}{{else}}{{ $defaultServiceName }}{{end}}
                port: 
                  number: {{ default $.Values.ingress.port $route.port }}
    {{- end }}
    {{- end }}
  {{- if $root.Values.ingress.tls }}
  {{- $secretName := coalesce $route.secretName $root.Values.ingress.secretName (printf "%s-tls" $name) }}
  tls:
    - secretName: {{ $secretName }}
      hosts:
        - "{{if $route.host }}{{ tpl (tpl $route.host $root) $root }}{{else}}{{ tpl (tpl $root.Values.ingress.host $root) $root }}{{end}}"
      {{- if or $route.aliases $.Values.ingress.aliases }}
        {{- range $_, $alias := (concat (default list $route.aliases) $.Values.ingress.aliases) }}
        - "{{ tpl $alias $ }}"
        {{- end }}
      {{- end }}
  {{- end }}

{{- end }}
{{- end }}

{{- end }}

