{{- if .Values.kafka }}
{{- if and .Values.kafka.enabled .Values.kafka.topics }}
{{- range .Values.kafka.topics }}
---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: {{ .name }}
  labels:
    {{- include "helm-base.labels" $ | nindent 4 }}
    app.kubernetes.io/component: kafka-topic
    strimzi.io/cluster: {{ $.Values.kafka.cluster.name | default (include "helm-base.fullname" $) }}
spec:
  topicName: {{ .topicName | default .name }}
  partitions: {{ .partitions | default 3 }}
  replicas: {{ .replicas | default 3 }}
  
  {{- if .config }}
  config:
    {{- toYaml .config | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
