{{- $root := . -}}
{{- $name := include "helm-base.fullname" . }}
{{- $commonLabels := include "helm-base.commonLabels" . }}
{{- $commonAnnotations := include "helm-base.commonAnnotations" . }}

{{- $secretsList := list }}
{{- $chartSecrets := default (list) .Values.secrets }}
{{- $globalSecrets := default (list) .Values.global.secrets }}

{{- if eq (kindOf $chartSecrets) "map" }}
  {{- range $secretName, $c := $chartSecrets }}
    {{- $newSecret := deepCopy $c }}
    {{- if not (hasKey $newSecret "name") }}
      {{- $_ := set $newSecret "name" $secretName }}
    {{- end }}
    {{- $secretsList = append $secretsList $newSecret }}
  {{- end }}
{{- else }}
  {{- $secretsList = concat $secretsList $chartSecrets }}
{{- end }}

{{- if eq (kindOf $globalSecrets) "map" }}
  {{- range $secretName, $c := $globalSecrets }}
    {{- $newSecret := deepCopy $c }}
    {{- if not (hasKey $newSecret "name") }}
      {{- $_ := set $newSecret "name" $secretName }}
    {{- end }}
    {{- $secretsList = append $secretsList $newSecret }}
  {{- end }}
{{- else }}
  {{- $secretsList = concat $secretsList $globalSecrets }}
{{- end }}

{{- range $c := $secretsList }}
{{- $secretFullName := default (printf "%s-%s" $name $c.name) $c.fullname }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretFullName }}
  labels:
{{- $commonLabels | nindent 4 }}

{{- if $commonAnnotations }}
  annotations:
{{- $commonAnnotations | nindent 4 }}
{{- end }}
type: {{ default "Opaque" $c.type }}
data:

{{- if eq (kindOf $c.data) "map" }}
  {{- range $k, $d := $c.data}}
  {{- if gt (len (splitList "\n" $d)) 1 }}
  {{ tpl $k $ }}: {{ (tpl $d $) | b64enc }}
  {{- else }}
  {{ tpl $k $ }}: "{{ tpl (tpl $d $) $ | b64enc }}"
  {{- end }} {{/* end if multiline */}}
  {{- end }} {{/* end range */}}

{{- else if eq (kindOf $c.data) "string" }}
  {{ tpl $c.name $ }}: {{ (tpl $c.data $) | toString | b64enc }}
{{- else }}
  DATATYPE: {{ kindOf $c.data }}
{{- end }} {{/* end if type */}}
{{- end }}
