{{- if and (.Values.containers) (eq .Values.kind "StatefulSet") }}
{{- $selectorLabels := include "helm-base.selectorLabels" . }}
{{- $podLabels := include "helm-base.podLabels" . }}
{{- $commonAnnotations := include "helm-base.commonAnnotations" . }}

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "helm-base.fullname" . }}
  labels:
{{ $selectorLabels | indent 4 }}
  annotations:
{{- $commonAnnotations | nindent 4 }}
spec:
  updateStrategy:
    type: {{ default "RollingUpdate" .Values.statefulSet.updateStrategy }}
  selector:
    matchLabels:
{{ $selectorLabels | indent 6 }}

  serviceName: {{ default (include "helm-base.fullname" .) .Values.statefulSet.serviceName }}
  replicas: {{ .Values.replicaCount }}
  template:
    {{- include "helm-base.pod" . }}

{{- if .Values.volumeClaimTemplates }}
  volumeClaimTemplates:
{{- $volumeClaimTemplates := .Values.volumeClaimTemplates }}
{{- if eq (kindOf $volumeClaimTemplates) "map" }}
{{- range $templateName, $template := $volumeClaimTemplates }}
{{- $newTemplate := deepCopy $template }}
{{- if not (hasKey $newTemplate "metadata") }}
{{- $_ := set $newTemplate "metadata" (dict) }}
{{- end }}
{{- if not (hasKey $newTemplate.metadata "name") }}
{{- $_ := set $newTemplate.metadata "name" $templateName }}
{{- end }}
{{ tpl (toYaml $newTemplate) $ | nindent 4 }}
{{- end }}
{{- else }}
{{ tpl (toYaml $volumeClaimTemplates) $ | nindent 4 }}
{{- end }}
{{- end }}

{{- end }}
